html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background: #f1f3f4;
}

html.dark-theme body {
  background: #1c1c1c;
}

body {
  margin: 0;
  padding: 0;
}
button {
  font-family: inherit;
  display: inline-block;
  cursor: pointer;
  background: #fff;
  font-size: 12px;
  border: 1px solid rgba(139, 141, 157, .4);
  border-radius: 3px;
  padding: .6em 1.5em .7em;
  border-radius: 9999px;
}

@supports (-webkit-overflow-scrolling: touch) {
  /* Prevent double tap to zoom on iOS https://stackoverflow.com/a/47131647 */
  button {
    touch-action: manipulation;
  }
}

button:focus {
  border-color: #a9adb0;
  outline: none;
  box-shadow: 0 0 0 3px #dee1e6;
}

.buttons {
  margin-left: -.5em;
  text-align: center;
}

.buttons button {
  margin: .5em;
}

html.dark-theme button {
  -webkit-font-smoothing: antialiased;
  background: transparent;
  color: #fff;
  border-color: #4a4d51;
}

html.dark-theme button:focus {
  border-color: #858b90;
  box-shadow: 0 0 0 3px #4a4d51;
}

.chrome-tabs {
  -webkit-app-region: drag;
}

#title-bar-btns {
 -webkit-app-region: no-drag;
 position: fixed;
 top: 3px;
 right: 6px;
}
